.login-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .title{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    padding-top: 30px;
  }

  .text{
    font-weight: 600;
    padding-bottom: 3px;
  }

  .input2{
    position: relative;
    i{
      position: absolute;
      top: 14px;
      right: 10px;
    }
  }

  input{
    padding: 10px 5px;
    outline: none;
    margin-bottom: 7px;
    border: none;
    background-color: #f0efef;
    width: 100%;
    &:hover {
      background-color: #dedede;
    }
  }

  button {
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    &.active{
      background-color: orangered;
      color: white;
    }
  }

  button[disabled=disabled], button:disabled{
    cursor: not-allowed;
  }
  .back{
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
  }